#memcache-cms {margin: 20px;}
#memcache-cms h3 a {color: #888;}
#memcache-cms .mc-label {font-weight: bold; padding-top: 4px;}
#memcache-cms .mc-margin-left-10 {margin-left: 10px;}
#memcache-cms .mc-margin-left-15 {margin-left: 15px;}
#memcache-cms .mc-margin-left-20 {margin-left: 20px;}
#memcache-cms .mc-margin-top-5 {margin-top: 5px;}